<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>compania</servlet-name>
        <servlet-class>controlador.compania</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cliente</servlet-name>
        <servlet-class>controlador.cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>almacen</servlet-name>
        <servlet-class>controlador.almacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serie</servlet-name>
        <servlet-class>controlador.serie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>metodopago</servlet-name>
        <servlet-class>controlador.metodopago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>utilidadmedida</servlet-name>
        <servlet-class>controlador.utilidadmedida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>condicionpago</servlet-name>
        <servlet-class>controlador.condicionpago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compania</servlet-name>
        <url-pattern>/compania</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cliente</servlet-name>
        <url-pattern>/cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>almacen</servlet-name>
        <url-pattern>/almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serie</servlet-name>
        <url-pattern>/serie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>metodopago</servlet-name>
        <url-pattern>/metodopago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>utilidadmedida</servlet-name>
        <url-pattern>/utilidadmedida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>condicionpago</servlet-name>
        <url-pattern>/condicionpago</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
